@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.empty{
    width: 60%;
    height: 25%;
    background-color: white;
    color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.empty-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 15vh 60vh 15vh;
    grid-template-areas: 
    "header"
    "nav"
    "content"
    "footer";
}

body::-webkit-scrollbar{
    width:8px;
    background-color: black;
}

body::-webkit-scrollbar-thumb{
    background: white;
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.nav {
    display: grid;
    grid-area: nav;
    background-color: black;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.nav .contenedor-nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .contenedor-nav .contador-vacantes .titulo{
    font-size: 16pt;
}

.nav .contenedor-nav .titulo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav .contenedor-nav .titulo-principal .titulo{
    font-size: 18pt;
}

.nav .contenedor-nav .titulo-principal .contenedor{
    display: flex;
    align-items: center;
}

.nav .contenedor-nav .titulo-principal .contenedor i{
    font-size: 15pt;
    position: relative;
    left: -2%;
}

.nav .contenedor-nav .titulo-principal .linea{
    width: 50%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 1%;
}

.nav .contenedor-input {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.nav .contenedor-input .input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    background-color:black;
    box-shadow: 0 0 5px white;
    color: white;
    padding: 4%;
    text-align: center;
    font-weight: bolder;
    transition: 0.4s;
}

.nav .contenedor-input .input::placeholder{
    color:white;
    font-weight: bolder;
    text-align: center;
}

.nav .contenedor-input .input:hover{
    box-shadow: 0 0 15px white;
    transition: 0.4s;
}

.boton {
    background-color: transparent;
    border: none;
}

.boton i{
    font-size: 16pt;
    cursor: pointer;
}

/*------------------------------------------------------------*/

.contenedor-content {
    display: grid;
    grid-area: content;
    background-color: black;
}

.contenedor-content .contenedor-vacante{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85%;
}

.contenedor-content .contenedor-vacante .vacantes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    width: 60%;
    height: 400px;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow-y: auto;
    mask-image: linear-gradient(
        black 85%,
        transparent
    );
}

.contenedor-content .contenedor-vacante .vacantes::-webkit-scrollbar{
    border-radius: 5px;
    width:7px;
    background-color: rgb(207, 193, 193, 0.2);
}

.contenedor-content .contenedor-vacante .vacantes::-webkit-scrollbar-thumb{
    width: 10px;
    background: white;
    border-radius: 5px;
}

.informacion-vacante{
    display: grid;
    width: 60%;
    border-radius: 15px;
    background-color: white;
    transition: 0.4s;
    padding-bottom: 1%;
}

.informacion-vacante:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.grid-2 .contenedor-cargo{
    border-bottom: 4px solid black;
    padding: 3% 5% 3% 5%;
    font-size: 20pt;
}

.grid-2 .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.responsable_legal{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.responsable_legal h1{
    font-size: 11pt;
    width: 100%;
}

.responsable_legal p{
    font-size: 11pt;
}

.correo{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.correo h1{
    font-size: 11pt;
    width: 100%;
}

.correo p{
    font-size: 11pt;
}

.producto{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.producto h1{
    font-size: 11pt;
    width: 100%;
}

.producto p{
    font-size: 11pt;
}

.telefono{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.telefono h1{
    font-size: 11pt;
    width: 100%;
}

.telefono p{
    font-size: 11pt;
}

.contenedor-salario{
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.contenedor-salario h1{
    font-size: 11pt;
    width: 100%;
}

.contenedor-salario p{
    font-size: 11pt;
}

.contenedor-boton{
    display: flex;
    width: 100%;
    position: relative;
    top: 5%;
}

.contenedor-boton .boton{
    display: flex;
    justify-content: center;
    align-items: center;    
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 3%;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
    margin-bottom: 2%;
}

.contenedor-boton .boton:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

.contenedor-volver{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 0.5%;
}

.contenedor-volver .a{
    display: flex;
    justify-content: center;
    align-items: center;    
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 0.5%;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.contenedor-volver .a:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 15px white;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}