@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    color:red;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "content-1  content-2";
    width: 100%;
    height: 100%;
}

.contenedor-content .content{
    grid-area: content-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

.contenedor-content .contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.contenedor-content .contenedor-titulo .contenedor{
    display: flex;
}

.contenedor-content .titulo-principal{
    font-size: 18pt;
    color: white;
}

.contenedor-content .contenedor-titulo .contenedor i{
    display: flex;
    align-items: center;
    font-size: 14pt;
    position: relative;
    left: -3%;
    color: white;
}

.contenedor-content .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5%;
}

.contenedor-content .contenedor-hoja-vida{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 77%;
    background-color: white;
    border-radius: 15px;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-hoja-vida .primera-linea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2%;
    height: 100%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .codigo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .codigo h1{
    display: flex;
    justify-content: center;
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .codigo input{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 23px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 5px black;
    border: none;
    margin-top: 3%;
    transition: 0.4s;
    text-indent: 10px;
    margin-bottom: 1%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .codigo input:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px black;
}


.contenedor-content .contenedor-hoja-vida .primera-linea .nombre{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .nombre h1{
    display: flex;
    justify-content: center;
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .nombre input{
    display: flex;
    text-indent: 10px;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 23px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 5px black;
    border: none;
    margin-top: 3%;
    transition: 0.4s;
    margin-bottom: 1%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .nombre input:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px black;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .descripcion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.contenedor-content .contenedor-hoja-vida .descripcion h1{
    display: flex;
    justify-content: center;
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea{
    display: flex;
    width: 55%;
    flex-direction: column;
    justify-content: center;
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 7%;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 6px;
    border: none;
    margin-top: 3%;
    resize: none;
    transition: 0.4s;
    margin-bottom: 1%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea:hover {
    box-shadow: 0 0 10px black;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea::-webkit-scrollbar{
    width: 4px;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea::-webkit-scrollbar-thumb{
    background: black;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -4%;
    width: 100%;
    gap: 10%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1:hover{
    background-color: black;
    transition: 0.5s;
    color: white;
    box-shadow: 0 0 10px white;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    font-size: 13pt;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2:hover{
    background-color: black;
    transition: 0.5s;
    color: white;
    box-shadow: 0 0 10px white;
}


/*------------------------------------------------------------*/

.contenedor-content .content-2{
    grid-area: content-2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.contenedor-content .contenedor-titulo-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.contenedor-content .contenedor-titulo-2 .contenedor-contenido-2{
    display: flex;
}

.contenedor-content .contenedor-titulo-2 .contenedor-contenido-2 .titulo-principal{
    font-size: 18pt;
    color: white;
}

.contenedor-content .contenedor-titulo-2 .contenedor-contenido-2 i{
    display: flex;
    align-items: center;
    font-size: 14pt;
    position: relative;
    left: -3%;
    color: white;
}

.contenedor-content .contenedor-titulo-2 .linea-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5%;
}

.contenedor-content .content-2 .contenedor-show {
    background-color: white;
    width: 55%;
    height: 400px;    
    border-radius: 10px;
    transition: 0.4s;
    overflow-y: auto; /* Cambiado a overflow: hidden */
}

.contenedor-content .content-2 .contenedor-show::-webkit-scrollbar{
    border-radius: 5px;
    width:10px;
    background-color: rgba(151, 145, 145, 0.76);
}

.contenedor-content .content-2 .contenedor-show::-webkit-scrollbar-thumb{
    width: 10px;
    background: rgba(37, 37, 37, 0.76);
    border-radius: 2px;
}

.contenedor-content .content-2 .contenedor-show .info-2 {
    width: 100%;
    top: 0; /* Añadido para fijar en la parte superior */
    left: 0; /* Añadido para fijar en la parte izquierda */
    bottom: 0; /* Añadido para estirar hasta la parte inferior */
    right: 0; /* Añadido para estirar hasta la parte derecha */
}

.contenedor-content .content-2 .contenedor-show:hover {
    box-shadow: 0 0 25px white;
    transition: 0.4s;
}

.contenedor-content .content-2 .contenedor-show .info-2 .info-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10%;
    /* height: 100%; */ /* Eliminado para permitir que el contenido crezca */
}

.contenedor-content .content-2 .contenedor-show .codigo{
    display: flex;
    width: 80%;
    gap: 1%;
    align-items: center;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-show .codigo h1{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .codigo p{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .nombre{
    display: flex;
    gap: 1%;
    width: 80%;
    align-items: center;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-show .nombre h1{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .nombre p{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .descripcion{
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 80%;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-show .descripcion h1{
    display: flex;
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .descripcion p{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .funcion{
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 80%;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-show .funcion h1{
    display: flex;
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .funcion p{
    font-size: 11pt;
}

.empty{
    font-size: 12pt;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}