@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    color:red;
    font-size: 10pt;
    margin-left: 2%;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header    header"
    "content   content"
    "footer    footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "content-1  content-2";
    width: 100%;
    height: 100%;
}

.content{
    display: grid;
    grid-area: content-1;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.contenedor-content .content{
    grid-area: content-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

.contenedor-content .contenedor-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.contenedor-content .contenedor-titulo .contenedor{
    display: flex;
}

.contenedor-content .contenedor-titulo h1{
    font-size: 18pt;
    color: white;
}

.contenedor-content .contenedor-titulo .contenedor i{
    display: flex;
    align-items: center;
    font-size: 14pt;
    position: relative;
    left: -3%;
    color: white;
}

.contenedor-content .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5%;
}

.content .contenedor-padre-formulario{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center; 
    align-items: center;
    position: relative;
    top: -5%;
}

.content .contenedor-padre-formulario .contenedor-formulario{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 70%;
    background-color: white;
    border-radius: 15px;
    padding: 4% 5% 3% 5%;
    transition: 0.4s;
}

.content .contenedor-padre-formulario .contenedor-formulario:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.content .contenedor-padre-formulario .contenedor-formulario .contenedor-nivel{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    gap: 4%
}

.content .contenedor-padre-formulario .contenedor-formulario .nivel{
    width: 65%;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: 0.4s;
}

.content .contenedor-padre-formulario .contenedor-formulario .nivel:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.content .contenedor-padre-formulario .contenedor-formulario .contenedor-institucion{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    gap: 4%
}

.content .contenedor-padre-formulario .contenedor-formulario .contenedor-institucion .institucion{
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: 0.4s;
}

.content .contenedor-padre-formulario .contenedor-formulario .contenedor-institucion .institucion:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.content .contenedor-padre-formulario .contenedor-formulario .contenedor-titulado{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    gap: 4%
}

.content .contenedor-padre-formulario .contenedor-formulario .contenedor-titulado .titulado{
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: 0.4s;
}

.content .contenedor-padre-formulario .contenedor-formulario .contenedor-titulado .titulado:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-documento{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    gap: 4%;
}

.label-input {
    display: none;
}

.contenedor-documento .texto {
    display: flex;
    gap: 6%;
    border: none;
    border-radius: 7px;
    padding: 7px;
    width: 100%;
    box-shadow: 0 0 8px black;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.4s;
}

.contenedor-documento .texto i {
    margin-left: 2%;
    font-size: 13pt;
    display: flex;
    align-items: center;
    cursor:pointer
}

.contenedor-documento .texto label {
    cursor:pointer;
    font-size: 12pt;
    transition: 0.4s;
}

.contenedor-documento .texto:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px black;
}

.contenedor-inicio{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    gap: 4%;
}

.contenedor-inicio .fecha-inicio{
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: 0.4s;
}

.contenedor-inicio .fecha-inicio:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-fin{
    display: flex;
    align-items: center;
    gap: 4%;
    margin-bottom: 4%;
}

.contenedor-fin .fecha-fin{
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: 0.4s;
}

.contenedor-fin .fecha-fin:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 4%;
}

.contenedor-boton a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    background-color: #FFD966;
    color: black;
    font-weight: bolder;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-boton a:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
}

.contenedor-boton .enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    background-color: #FFD966;
    color: black;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    font-size: 14pt;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-boton .enviar:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

/*------------------------------------------------------------*/

.content-2{
    grid-area: content-2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.content-2 .contenedor-titulo-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.content-2 .contenedor-titulo-2 .contenedor-contenido-2{
    display: flex;
}

.content-2 .contenedor-titulo-2  h1{
    font-size: 18pt;
    color: white;
}

.content-2 .contenedor-titulo-2 .contenedor-contenido-2 i{
    display: flex;
    align-items: center;
    font-size: 14pt;
    position: relative;
    left: -3%;
    color: white;
}

.content-2 .contenedor-titulo-2 .linea-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5%;
}

.content-2 .contenedor-informacion{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.content-2 .contenedor-informacion .informacion{
    display: flex;
    flex-direction: column;
    width: 43%;
    height: 75%;
    background-color: white;
    border-radius: 15px;
    transition: 0.4s;
    margin-top: 2%;
    padding: 4% 3% 0 3%;
}

.content-2 .contenedor-informacion .informacion:hover{
    box-shadow: 0 0 15px white;
    transition: 0.4s;
}

.content-2 .contenedor-informacion .informacion .nivel{
    display: flex;
    gap: 2%;
    width: 100%;
    margin-bottom: 5%;
}

.content-2 .contenedor-informacion .informacion .nivel h1{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .nivel p{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .institucion{
    display: flex;
    gap: 2%;
    width: 100%;
    margin-bottom: 5%;
}

.content-2 .contenedor-informacion .informacion .institucion h1{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .institucion p{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .titulado{
    display: flex;
    gap: 2%;
    width: 100%;
    margin-bottom: 5%;
}

.content-2 .contenedor-informacion .informacion .titulado h1{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .titulado p{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .documento{
    display: flex;
    gap: 2%;
    width: 100%;
    margin-bottom: 5%;
}

.content-2 .contenedor-informacion .informacion .documento h1{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .documento a{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .año_inicio{
    display: flex;
    gap: 2%;
    width: 100%;
    margin-bottom: 5%;
}

.content-2 .contenedor-informacion .informacion .año_inicio h1{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .año_inicio a{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .año_finalizacion{
    display: flex;
    gap: 2%;
    width: 100%;
    margin-bottom: 5%;
}

.content-2 .contenedor-informacion .informacion .año_finalizacion h1{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

.content-2 .contenedor-informacion .informacion .año_finalizacion a{
    display: flex;
    align-items: center;
    font-size: 12pt;
}

/* .content-2 .contenedor-informacion .informacion .institucion h1{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 13pt;
    margin-bottom: 4%;
}

.content-2 .contenedor-informacion .informacion .institucion p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11pt;
}

.content-2 .contenedor-informacion .informacion .titulado h1{
    display: flex;
    justify-content: center;
    font-size: 13pt;
    margin-bottom: 4%;
}

.content-2 .contenedor-informacion .informacion .titulado p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11pt;
}

.content-2 .contenedor-informacion .informacion .documento h1{
    display: flex;
    justify-content: center;
    font-size: 13pt;
    margin-bottom: 4%;
}

.content-2 .contenedor-informacion .informacion .documento a{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11pt;
    align-items: center;
}

.content-2 .contenedor-informacion .informacion{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 85%;
    gap: 10%;
}

.content-2 .contenedor-informacion .informacion .año_inicio h1{
    display: flex;
    justify-content: center;
    font-size: 13pt;
    margin-bottom: 4%;
}

.content-2 .contenedor-informacion .informacion .año_inicio p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11pt;
    align-items: center;
}

.content-2 .contenedor-informacion .informacion .año_finalizacion h1{
    display: flex;
    justify-content: center;
    font-size: 13pt;
    margin-bottom: 4%;
}

.content-2 .contenedor-informacion .informacion .año_finalizacion p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11pt;
    align-items: center;
} */


/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}