@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    color:red;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh auto 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content{
    grid-area: content;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-content .contenedor-hoja-vida {
    width: 45%;
    border-radius: 15px;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-bottom: 1.5%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-titulo{
    background-color: black;
    color: white;
    border-radius: 15px;
    border: 4px solid white;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-content .contenedor-hoja-vida .contenedor-titulo .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17pt;
}

.contenedor-content .contenedor-hoja-vida .contenedor-titulo .titulo i{
    position: relative;
    left: -3%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-titulo .linea{
    height: 4px;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    margin-top: 1%;
}

.contenedor-content .contenedor-hoja-vida .informacion{
    padding: 3% 5% 3% 5%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-nombre{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-nombre h1{
    font-size: 14pt;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-nombre .input{
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-nombre .input:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-apellido{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-apellido h1{
    font-size: 14pt;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-apellido .input{
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-apellido .input:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-numero-identificacion{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-numero-identificacion h1{
    font-size: 14pt;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-numero-identificacion .num-identificacion{
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-numero-identificacion .num-identificacion:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-tipo-identificacion{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-tipo-identificacion h1{
    font-size: 14pt;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-tipo-identificacion .menu-identificacion{
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-tipo-identificacion .menu-identificacion:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-departamento{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-departamento h1{
    font-size: 14pt;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-departamento .munu-departamentos{
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-departamento .munu-departamentos:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-genero{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-genero h1{
    font-size: 14pt;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-genero .menu-generos{
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-genero .menu-generos:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-estado{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-estado h1{
    font-size: 14pt;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-estado .menu-estado-civil{
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-estado .menu-estado-civil:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-email{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-email h1{
    font-size: 14pt;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-email .input{
    border: none;
    padding: 5px;
    border-radius: 15px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
}

.contenedor-content .contenedor-hoja-vida .informacion .contenedor-email .input:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px black;
}

/*------------------------------------------------------------*/

.contenedor-boton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
    top: 4%;
}

.contenedor-boton .atras{
    background-color: #FFD966;
    padding: 13px;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bolder;
    transition: 0.5s;
    box-shadow: 0 0 7px #FFD966;
}

.contenedor-boton .atras:hover{
    transition: 0.5s;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
}

.contenedor-boton .input {
    border: none;
    background-color: #FFD966;
    padding: 13px;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bolder;
    transition: 0.5s;
    box-shadow: 0 0 7px #FFD966;
}

.contenedor-boton .input:hover {
    transition: 0.4s;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}