@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    grid-area: content;
    width: 100%;
    height: 100%;
    background-color: black;
}
.contenedor-nav {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "rol titulo";
    width: 100%;
    height: 15%;
    margin-top: 1%;
    color: #fff;
}

.contenedor-rol {
    grid-area: rol;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.contenedor-rol h1{
    font-size: 17pt;
}

.contenedor-titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
}

.contenedor-titulo .titulo {
    display: flex;
    align-items: center;
    font-size: 20pt;
}

.contenedor-titulo .titulo i{
    position: relative;
    left: -2%;
    font-size: 18pt;
}

.barra {
    height: 4px;
    width: 25%;
    margin-left: 30px;
    margin-top: 0.5%;
    background-color: white;
    border-radius: 10px;
}

.fa-chalkboard-user {
    margin-right: 10px;
}

.contenedor-content .contenedor-informacion {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 360px;
}

.contenedor-content .contenedor-informacion .scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    width: 45%;
    height: 400px;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow-y: auto;
    mask-image: linear-gradient(
        black 85%,
        transparent
    );
}

.contenedor-content .contenedor-informacion .scroll::-webkit-scrollbar{
    border-radius: 5px;
    width:7px;
    background-color: rgb(207, 193, 193, 0.2);
}

.contenedor-content .contenedor-informacion .scroll::-webkit-scrollbar-thumb{
    width: 10px;
    background: white;
    border-radius: 5px;
}

.contenedor-content .contenedor-informacion .scroll .contenedor-instructor {
    width: 65%;
    margin-top: 3%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding: 3%;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.contenedor-content .contenedor-informacion .scroll .contenedor-instructor:hover {
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-informacion .scroll .contenedor-instructor .contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.contenedor-content .contenedor-informacion  .scroll .contenedor-instructor .contenedor-logo i {
    font-size: 27pt;
}

.contenedor-content .contenedor-informacion .scroll .contenedor-instructor .contenedor-bote {
    border: none;
    background-color: transparent;
}

.contenedor-content .contenedor-informacion .scroll .contenedor-instructor .contenedor-bote i {
    font-size: 14pt;
    cursor: pointer;
}

.contenedor-content .contenedor-informacion .scroll .contenedor-instructor .contenedor-nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    margin-left: 5%;
}

.contenedor-content .contenedor-informacion .scroll .contenedor-instructor .contenedor-nombre .titulo {
    font-size: 15pt;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}

.opciones{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15%;
    border-left: 4px solid black;
    font-size: 15pt;
}

.opciones .contenedor-1{
    display: flex;
    gap: 30%;
    margin-bottom: 15%;
}

.opciones .contenedor-1 i{
    color: black;
}

.opciones .contenedor-2{
    display: flex;
    gap: 40%;
}

.opciones .contenedor-2 i{
    color: black;
}

.contenedor-boton  { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.contenedor-boton .volver {    
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    padding: 0.7% 0.7%;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-boton .volver:hover {
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: black;
    margin-top: 1%;
    width: 60%;
    transition: 0.4s;
}

.empty:hover{
    transition: 0.4s;
    box-shadow: 15px;
}

#caneca{
    color: black;
    transition: 0.4s;
}

#caneca:hover{
    color: rgba(181, 15, 15, 0.917);
    transition: 0.4s;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}