@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 15vh 60vh 15vh;
    grid-template-areas: 
    "header"
    "navbar"
    "content"
    "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.nav {
    grid-area: navbar;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}

.nav .primer-contenedor {
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-left: 1.5%;
}

.nav .contenedor {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8%;
}

.nav .segundo-contenedor i {
    cursor: pointer;
}

.segundo-contenedor{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
    gap: 10%;
    position: relative;
    right: 1.5%;
}

.segundo-contenedor .boton-a{
    display: flex;
    justify-content: center;
    padding: 12px;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    font-size: 12pt;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.segundo-contenedor .boton-a:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    transition: 0.4s;
    cursor: pointer;
}

.segundo-contenedor .boton{
    display: flex;
    justify-content: center;
    padding: 12px;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.segundo-contenedor .boton:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    transition: 0.4s;
    cursor: pointer;
}

.contenedor-logout .boton{
    display: flex;
    justify-content: center;
    padding: 12px;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    font-size: 12pt;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-logout .boton:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    transition: 0.4s;
    cursor: pointer;
}

/*------------------------------------------------------------*/

.contenedor-content{
    grid-area: content;
    display: flex;
    justify-content: center;
    background-color: black;
}

.contenedor-content .recuadro-menu{
    display: flex;
    justify-content: space-around;
    width: 97%;
    height: 100%;
    gap: 4%;
}

.contenedor-content .recuadro-menu .cuadro-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-1:hover {
    box-shadow: 0 0 20px white;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-1 .contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.contenedor-content .recuadro-menu .cuadro-1 .contenedor-logo i {
    font-size: 35pt;
}

.contenedor-content .recuadro-menu .cuadro-1 .contenedor-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-bottom: 3%;
    font-weight: bolder;
}

.contenedor-content .recuadro-menu .cuadro-1 .contenedor-titulo .titulo {
    font-size: 15pt;
}

.contenedor-content .recuadro-menu .cuadro-1 .contenedor-boton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 8%;
}

.contenedor-content .recuadro-menu .cuadro-1 .contenedor-boton a {
    display: flex;
    align-items: center;
    padding: 4%;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-1 .contenedor-boton a:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-2:hover {
    box-shadow: 0 0 20px white;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-2 .contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.contenedor-content .recuadro-menu .cuadro-2 .contenedor-logo i {    
    font-size: 35pt;
}

.contenedor-content .recuadro-menu .cuadro-2 .contenedor-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-bottom: 3%;
    font-weight: bolder;
}

.contenedor-content .recuadro-menu .cuadro-2 .contenedor-titulo .titulo {
    font-size: 15pt;
}

.contenedor-content .recuadro-menu .cuadro-2 .contenedor-boton {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 8%;
}

.contenedor-content .recuadro-menu .cuadro-2 .contenedor-boton a {
    display: flex;
    align-items: center;
    padding: 4%;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-2 .contenedor-boton a:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-3:hover {
    box-shadow: 0 0 20px white;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-3 .contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.contenedor-content .recuadro-menu .cuadro-3 .contenedor-logo i {    
    font-size: 35pt;
}

.contenedor-content .recuadro-menu .cuadro-3 .contenedor-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-bottom: 3%;
    font-weight: bolder;
}

.contenedor-content .recuadro-menu .cuadro-3 .contenedor-titulo .titulo {
    font-size: 15pt;
}

.contenedor-content .recuadro-menu .cuadro-3 .contenedor-boton {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 8%;
}

.contenedor-content .recuadro-menu .cuadro-3 .contenedor-boton a {
    display: flex;
    align-items: center;
    padding: 4%;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-3 .contenedor-boton a:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 80%;
    background-color: white;
    padding: 1%;
    border-radius: 15px;
    box-shadow: 0 0 15px white;
}

.contenedor-content .recuadro-menu .cuadro-4:hover {
    box-shadow: 0 0 25px white;
    transition: 0.5s;
}

.contenedor-content .recuadro-menu .cuadro-4 .contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.contenedor-content .recuadro-menu .cuadro-4 .contenedor-logo i {    
    font-size: 35pt;
}

.contenedor-content .recuadro-menu .cuadro-4 .contenedor-titulo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-bottom: 3%;
    font-weight: bolder;
}

.contenedor-content .recuadro-menu .cuadro-4 .contenedor-titulo .titulo {
    font-size: 15pt;
}

.contenedor-content .recuadro-menu .cuadro-4 .contenedor-boton-a{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 8%;
}

.contenedor-content .recuadro-menu .cuadro-4 .contenedor-boton-a .aa{
    display: flex;
    align-items: center;
    padding: 4%;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-content .recuadro-menu .cuadro-4 .contenedor-boton-a .aa:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    transition: 0.4s;
}
/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}