@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    font-size: 14px;
    color:red;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header    header"
    "content   content"
    "footer    footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "content-1  content-2";
    width: 100%;
    height: 100%;
}

.contenedor-content .content{
    grid-area: content-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

.contenedor-content .contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.contenedor-content .contenedor-titulo .contenedor{
    display: flex;
}

.contenedor-content .titulo-principal{
    font-size: 18pt;
    color: white;
}

.contenedor-content .contenedor-titulo .contenedor i{
    display: flex;
    align-items: center;
    font-size: 14pt;
    position: relative;
    left: -3%;
    color: white;
}

.contenedor-content .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5%;
}

.contenedor-content .contenedor-hoja-vida{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 65%;
    padding: 5% 5% 5% 5%;
    background-color: white;
    border-radius: 15px;
}

.contenedor-content .contenedor-hoja-vida:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-hoja-vida .primera-linea{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 7%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .cargo{
    display: flex;
    align-items: center;
    gap: 5%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .cargo .titulo{
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .cargo .input{
    border: none;
    border-radius: 10px;
    width: 70%;    
    padding: 5px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .cargo .input:hover{
    box-shadow: 0 0 10px black;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .contenedor-select{
    display: flex;
    align-items: center;
    gap: 5%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .contenedor-select .titulo{
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .contenedor-select .ocupacion_id{
    border: none;
    border-radius: 10px;
    width: 70%;    
    padding: 5px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .contenedor-select .ocupacion_id:hover{
    box-shadow: 0 0 10px black;
    transition: 0.4s;
}

.descripcion{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.descripcion .titulo{
    font-size: 12pt;
}  

.descripcion textarea{
    display: flex;
    width: 90%;
    box-shadow: 0 0 4px black;
    border-radius: 6px;
    border: none;
    margin-top: 3%;
    resize: none;
    height: 100%;
    padding: 3% 5% 3% 5%;
    transition: 0.4s;
}

.descripcion textarea:hover{
    transition: 0.4s;
    box-shadow: 0 0 8px black;
}

.descripcion textarea::-webkit-scrollbar{
    width: 5px;
}

.descripcion textarea::-webkit-scrollbar-thumb{
    background: black;
}

.descripcion-1{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
}

.descripcion-1 .titulo{
    font-size: 12pt;
}  

.descripcion-1 textarea{
    display: flex;
    width: 90%;
    box-shadow: 0 0 4px black;
    border-radius: 6px;
    border: none;
    margin-top: 3%;
    resize: none;
    height: 100%;
    padding: 3% 5% 3% 5%;
    transition: 0.4s;
}

.descripcion-1 textarea:hover{
    transition: 0.4s;
    box-shadow: 0 0 8px black;
}

.descripcion-1 textarea::-webkit-scrollbar{
    width: 5px;
}

.descripcion-1 textarea::-webkit-scrollbar-thumb{
    background: black;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    font-size: 14pt;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

/*------------------------------------------------------------*/

.contenedor-content .content-2{
    grid-area: content-2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.contenedor-content .content-2 .contenedor-titulo{
    width: 75%;
}

.contenedor-content .content-2 .linea{
    margin-top: 1%;
}

.contenedor-content .content-2 .contenedor-grande{
    display: flex;
    justify-content: center;
    height: 100%;
}

.contenedor-content .content-2 .contenedor-show{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    width: 430px;
    height: 420px;
    border-radius: 15px;
    transition: 0.4s;
    overflow-y: auto;
}

.contenedor-content .content-2 .contenedor-show:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .content-2 .contenedor-show::-webkit-scrollbar{
    border-radius: 5px;
    width:10px;
    background-color: rgba(151, 145, 145, 0.76);
}

.contenedor-content .content-2 .contenedor-show::-webkit-scrollbar-thumb{
    width: 10px;
    background: rgba(37, 37, 37, 0.76);
    border-radius: 2px;
}

.contenedor-content .content-2 .contenedor-show .primera-linea{
    padding: 7% 5% 6% 7%;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .ocupacion{
    display: flex;
    width: 100%;
    gap: 1%;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .ocupacion h1{
    display: flex;
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .ocupacion p{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .empresa{
    display: flex;
    width: 100%;
    gap: 1%;
    align-items: center;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .empresa h1{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .empresa p{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .habilidades{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1%;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .habilidades h1{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .habilidades p{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .competencia{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1%;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .competencia h1{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .competencia p{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .funciones{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1%;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .funciones h1{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .funciones ul{
    padding-left: 5%;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .funciones li{
    font-size: 11pt;
    margin-bottom: 3%;
}

.empty{
    display: flex;
    font-size: 12pt;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}