@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.contenedor-empty{
    display: flex;
    justify-content: center;
    padding: 2%;
    width: 65%;
    border-radius: 15px;
    box-shadow: 0 0 15px white;
    background-color: white;
}

.empty{
    font-size: 14pt;
    color: black;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 15vh 60vh 15vh;
    grid-template-areas:
    "header"
    "nav"
    "content-2"
    "footer";
}

body::-webkit-scrollbar{
    width:8px;
    background-color: black;
}

body::-webkit-scrollbar-thumb{
    background: white;
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.nav {
    display: grid;
    grid-area: nav;
    background-color: black;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.nav .contenedor-nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .contenedor-nav .contador-vacantes .titulo{
    font-size: 16pt;
}

.nav .contenedor-nav .titulo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav .contenedor-nav .titulo-principal .contenedor{
    display: flex;
    align-items: center;
}

.nav .contenedor-nav .titulo-principal .contenedor i{
    position: relative;
    left: -3%;
    font-size: 14pt;
}

.nav .contenedor-nav .titulo-principal .titulo{
    font-size: 18pt;
}

.nav .contenedor-nav .titulo-principal .linea{
    width: 50%;
    height: 4px;
    background-color: white;
    margin-top: 1%;
    border-radius: 10px;
}

.nav .contenedor-input {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.nav .contenedor-input .input {
    width: 100%;
    border-radius: 10px;
    border: 1px solid white;
    background-color:black;
    color: white;
    padding: 4%;
    text-align: center;
    font-weight: bolder;
}

.nav .contenedor-input .input::placeholder{
    color:white;
    font-weight: bolder;
    text-align: center;
}

.nav .contenedor-input .input:hover{
    box-shadow: 0 0 15px white;
    transition: 0.4s;
}

.boton {
    background-color: transparent;
    border: none;
}

.boton i{
    font-size: 16pt;
    cursor: pointer;
}

/*------------------------------------------------------------*/

.contenedor-content {
    display: grid;
    grid-area: content-2;
    background-color: black;
}

.contenedor-content .contenedor-vacante{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85%;
}

.contenedor-content .contenedor-vacante .vacantes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    width: 45%;
    height: 400px;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow-y: auto;
}

.contenedor-content .contenedor-vacante .vacantes::-webkit-scrollbar{
    border-radius: 5px;
    width:7px;
    background-color: rgb(207, 193, 193, 0.2);
}

.contenedor-content .contenedor-vacante .vacantes::-webkit-scrollbar-thumb{
    width: 10px;
    background: white;
    border-radius: 5px;
}

.informacion-vacante{
    display: grid;
    grid-template-columns: 25% 1fr 9%;
    padding: 1%;
    width: 75%;
    border-radius: 15px;
    background-color: white;
    transition: 0.4s;
}

.informacion-vacante:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.informacion-vacante .grid-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion-vacante .grid-1 .contenedor-codigo .titulo{
    font-size: 14pt;
}

.grid-2 .contenedor-cargo{
    margin-top: 3%;
}

.grid-2 .contenedor-cargo .titulo{
    display: flex;
    align-items: center;
    font-size: 14pt;
}

.grid-2 .info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.grid-2 .info .contenedor-lugar{
    display: flex;
    gap: 1%;
}

.informacion-vacante .contenedor-botones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 3px solid black ;
}

.informacion-vacante .contenedor-botones i{
    color: black;
}

.informacion-vacante .contenedor-botones .boton{
    border: none;
    background-color: transparent;
}

.informacion-vacante .contenedor-botones form .boton i{
    transition: 0.4s;
}

.informacion-vacante .contenedor-botones form .boton i:hover{
    transition: 0.4s;
    color: rgba(201, 7, 7, 0.911);
}

.contenedor-volver{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
}

.contenedor-volver .a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 0.5%;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.contenedor-volver .a:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;

}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}
