@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    color:red;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: content;
    width: 100%;
    height: 100%;
}

.contenedor-content .contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contenedor-content .titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 3%;
    font-size: 24pt;
}

.contenedor-content .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 4px;
    background-color: #FFD966;
    box-shadow: 0 0 15px #FFD966;
    margin-bottom: -3%;
}

.contenedor-content .contenedor-hoja-vida{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-hoja-vida .primera-linea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-content .contenedor-hoja-vida .linea-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 145%;
    height: 30%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-nit .input{
    padding: 3%;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 7px black;
}
.contenedor-content .contenedor-hoja-vida .contenedor-nit .input::placeholder{
    color: black;
    font-weight: bolder;
}

.contenedor-content .contenedor-hoja-vida .contenedor-nombre .input{
    padding: 3%;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 7px black;
}
.contenedor-content .contenedor-hoja-vida .contenedor-nombre .input::placeholder{
    color: black;
    font-weight: bolder;
}

.contenedor-content .contenedor-hoja-vida .linea-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145%;
    height: 30%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-direccion .input{
    position: relative;
    left: -35%;
    padding: 3%;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 7px black;
}
.contenedor-content .contenedor-hoja-vida .contenedor-direccion .input::placeholder{
    color: black;
    font-weight: bolder;
}

.contenedor-pais .menu-pais{
    position: relative;
    left: -9%;
    width: 180%;
    padding: 5%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
}

.contenedor-content .contenedor-hoja-vida .linea-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 145%;
    height: 30%;
}

.contenedor-departamento .menu-departamentos{
    position: relative;
    width: 190%;
    left: -70%;
    padding: 4%;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 7px black;
    font-weight: bolder;
}

.contenedor-municipio .menu-municipio{
    position: relative;
    left: 10%;
    width: 160%;
    padding: 4%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    text-align: center;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 20%;
    gap: 10%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1:hover {
    background-color: black;
    color: #FFD966;
    transition: 0.5s;
    cursor: pointer;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    font-size: 13pt;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2:hover {
    background-color: black;
    color: #FFD966;
    transition: 0.5s;
    cursor: pointer;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}