@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    font-size: 12pt;
    margin-top: 1%;
    color:red;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    grid-area: content;
    width: 100%;
    height: 100%;
}

.contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.contenedor-titulo .contenedor{
    display: flex;
    align-items: center;
    font-size: 18pt;
    color: white;
}

.contenedor-titulo .contenedor i{
    position: relative;
    left: -2%;
    color: white;
}

.contenedor-content .contenedor-titulo .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 4px;
    border-radius: 10px;
    background-color: white;
    margin-top: 0.4%;
}

.contenedor-content .contenedor-hoja-vida{
    display: flex;
    justify-content: center;
    width: 38%;
    height: 75%;
    background-color: white;
    border-radius: 15px 5px 5px 15px;
    box-shadow: 0 0 15px white;
    overflow-y: auto;
}

.contenedor-content .contenedor-hoja-vida::-webkit-scrollbar{
    border-radius: 10px;
    width:7px;
    background-color: rgb(255, 255, 255);
}

.contenedor-content .contenedor-hoja-vida::-webkit-scrollbar-thumb{
    width: 10px;
    background: rgb(45, 45, 45);
    border-radius: 5px;
}

.contenedor-content .contenedor-hoja-vida .info{
    width: 100%;
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
}

.contenedor-nit{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-nit h1{
    font-size: 14pt;
}

.contenedor-nit input{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 74.5%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-nit input:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-nombre{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-nombre h1{
    font-size: 14pt;
}

.contenedor-nombre input{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-nombre input:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-tipo{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-tipo h1{
    font-size: 14pt;
}

.contenedor-tipo .tipo_empresa{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 69.5%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-tipo .tipo_empresa:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-telefono{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-telefono h1{
    font-size: 14pt;
}

.contenedor-telefono input{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-telefono input:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-correo{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-correo h1{
    font-size: 14pt;
}

.contenedor-correo input{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 65.5%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-correo input:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-responsable{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-responsable h1{
    font-size: 14pt;
}

.contenedor-responsable input{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 90%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-responsable input:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-direccion{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-direccion h1{
    font-size: 14pt;
}

.contenedor-direccion input{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-direccion input:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-producto{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-producto h1{
    font-size: 14pt;
}

.contenedor-producto .producto_servicio{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-producto .producto_servicio:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-pais{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-pais h1{
    font-size: 14pt;
}

.contenedor-pais .menu-pais{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-pais .menu-pais:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-departamento{
    display: flex;
    align-items: center;
    gap: 5%;
    margin-bottom: 3%;
}

.contenedor-departamento h1{
    font-size: 14pt;
}

.contenedor-departamento .menu-departamentos{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-departamento .menu-departamentos:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-municipio{
    display: flex;
    align-items: center;
    gap: 5%;
}

.contenedor-municipio h1{
    font-size: 14pt;
}

.contenedor-municipio .menu-municipio{
    border: none;
    padding: 5px;
    border-radius: 10px;
    width: 100%;    
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    text-indent: 2%;
    transition: 0.4s;
}

.contenedor-municipio .menu-municipio:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 6%;
    padding-bottom: 5%;
    gap: 10%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 15px white;
    transition: 0.4s;
    cursor: pointer;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    font-size: 13pt;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 15px white;
    transition: 0.4s;
    cursor: pointer;
}

/* .contenedor-content .contenedor-hoja-vida{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30%;
    height: 60%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-hoja-vida .primera-linea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.contenedor-content .contenedor-hoja-vida .linea-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;
    width: 100%;
    height: 30%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-nit .input{
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 7px black;
}
.contenedor-content .contenedor-hoja-vida .contenedor-nit .input::placeholder{
    color: black;
    font-weight: bolder;
}

.contenedor-content .contenedor-hoja-vida .contenedor-nombre .input{
    padding: 6px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 7px black;
}
.contenedor-content .contenedor-hoja-vida .contenedor-nombre .input::placeholder{
    color: black;
    font-weight: bolder;
}

.contenedor-content .contenedor-hoja-vida .linea-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;
    width: 100%;
    height: 30%;
    position: relative;
    left: -10%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-direccion .input{
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 7px black;
}
.contenedor-content .contenedor-hoja-vida .contenedor-direccion .input::placeholder{
    color: black;
    font-weight: bolder;
}

.contenedor-pais .menu-pais{
    position: relative;
    left: -9%;
    width: 180%;
    padding: 5%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
}

.contenedor-content .contenedor-hoja-vida .linea-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    width: 145%;
    height: 30%;
}

.contenedor-departamento .menu-departamentos{
    position: relative;
    width: 190%;
    left: -70%;
    padding: 4%;
    border-radius: 7px;
    border: none;
    box-shadow: 0 0 7px black;
    font-weight: bolder;
}

.contenedor-municipio .menu-municipio{
    position: relative;
    left: 10%;
    width: 160%;
    padding: 4%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 20%;
    gap: 10%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1:hover {
    background-color: black;
    color: #FFD966;
    transition: 0.5s;
    cursor: pointer;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    font-size: 13pt;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2:hover {
    background-color: black;
    color: #FFD966;
    transition: 0.5s;
    cursor: pointer;
} */

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}