@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.544);
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10vh auto 15vh;
    grid-template-areas: 
    "header    header"
    "content   content"
    "footer    footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/* ---------------------------------------------------------------- */
.contenedor-content {
    grid-area: content;
    width: 100%;
    background-color: black;
}

.contenedor-content .contenedor-informacion{
    position: relative;
    margin-top: 4%;
    left: 22%;
    width: 60%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px white;
}

.contenedor-content .contenedor-informacion:hover{
    box-shadow: 0 0 30px white;
    transition: 0.5s;
}

.contenedor-content .contenedor-informacion .titulo-principal{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 4px solid black;
}

.primera-fila{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}

.contenedor-numero-identificacion {
    display: grid;
    gap: 8%;
}

.num-identificacion {
    width: 100%;
    padding: 2%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    margin-bottom: 12%;
    text-align: center;
}

.contenedor-tipo-identificacion{
    display: grid;
    gap: 8%;
}

.contenedor-tipo-identificacion .titulo {
    font-size: 13pt;
}

.contenedor-tipo-identificacion .menu-identificacion {
    position: relative;
    left: -10%;
    width: 90%;
    padding: 2%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    margin-bottom: 12%;
    text-align: center;
}

.contenedor-pais {
    display: grid;
}

.contenedor-pais .titulo-pais{
    position: relative;
    left: -25%;
}

.contenedor-pais .munu-pais {
    position: relative;
    left: -107%;
    top: -13%;
    width: 210%;
    padding: 2%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    margin-bottom: 15%;
}

.segunda-fila{
    display: flex;
    justify-content: space-around;
    margin-top: 6%;
}

.contenedor-departamento {
    display: grid;
    gap: 15%;
}

.contenedor-departamento .titulo {
    position: relative;
    left: 18%;
    font-size: 13pt;
}

.contenedor-departamento .munu-departamentos {
    position: relative;
    left: -20%;
    width: 180%;
    padding: 7%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    margin-bottom: 15%;
    text-align: center;
}

.contenedor-departamento .titulo-muni {
    position: relative;
    left: 50%;
    font-size: 13pt;
}

.contenedor-departamento .munu-municipios {
    position: relative;
    left: -17%;
    width: 220%;
    padding: 7%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    margin-bottom: 15%;
    text-align: center;
}

.contenedor-nombre {
    display: grid;
    gap: 15%;
}

.contenedor-nombre .titulo {
    position: relative;
    left: 37%;
    font-size: 13pt;
}

.contenedor-nombre .input {
    width: 115%;
    padding: 4%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    margin-bottom: 18%;
    text-align: center;
}

.tercera-fila{
    display: flex;
    justify-content: space-around;
    margin-top: 9%;
}

.contenedor-apellido-1 {
    display: grid;
    gap: 15%;
}

.contenedor-apellido-1 .titulo {
    position: relative;
    left: 37%;
    font-size: 13pt;
}

.contenedor-apellido-1 .input {
    position: relative;
    left: -9%;
    width: 130%;
    padding: 4%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    margin-bottom: 18%;
}

.contenedor-genero {
    display: grid;
    gap: 15%;
}

.contenedor-genero .titulo { 
    position: relative;
    left: 45%;
    font-size: 13pt;
}

.menu-generos { 
    position: relative;
    left: -42%;
    width: 255%;
    padding: 4%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    margin-bottom: 18%;
    text-align: center;
}

.contenedor-direccion {
    display: grid;
    gap: 15%;
}

.contenedor-direccion .titulo {
    position: relative;
    left: 36%;
    font-size: 13pt;
}

.contenedor-direccion .input {
    width: 115%;
    padding: 4%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    margin-bottom: 15%;
    text-align: center;
}

.cuarta-fila{
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: 6%;
    margin-bottom: 10%;
    padding-bottom: 10%;
    border-radius: 20px;
}

.contenedor-estado {
    display: grid;
    gap: 15%;
}

.contenedor-estado .titulo { 
    position: relative;
    left: 45%;
    font-size: 13pt;
}

.contenedor-estado .menu-estado-civil { 
    width: 170%;
    padding: 4%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    margin-bottom: 18%;
}

.contenedor-email {
    display: grid;
    gap: 15%;
}

.contenedor-email .titulo { 
    position: relative;
    left: 37%;
    font-size: 13pt;
}

.contenedor-email .input { 
    position: relative;
    left: 8%;
    width: 140%;
    padding: 4%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    margin-bottom: 18%;
    text-align: center;
}

.contenedor-contraseña {
    display: grid;
    gap: 15%;
}

.contenedor-contraseña .titulo { 
    position: relative;
    left: 28%;
    font-size: 13pt;
}

.contenedor-contraseña .input { 
    width: 110%;
    padding: 4%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    margin-bottom: 18%;
    text-align: center;
}

/* -------------------------------------------- */

.contenedor-boton .atras{
    width: 3.5%;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 13px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    margin-right: 100px;
    text-decoration: none;
}

.contenedor-boton .atras:hover{
    transition: 0.4s;
    background-color: black;
    color: #FFD966;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
    margin-top: -3%;
}

.contenedor-boton .input {
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    padding: 13px;
    font-weight: 1000;
    box-shadow: 0 0 15px #FFD966;
    cursor: pointer;
}

.contenedor-boton .input:hover {
    transition: 0.4s;
    background-color: black;
    color: #FFD966;
}

/* ---------------------------------------------------------------- */
.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}