@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    color:red;
    font-size: 10pt;
    margin-left: 2%;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header    header"
    "content   content"
    "footer    footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "content-1  content-2";
    width: 100%;
    height: 100%;
}

.content{
    display: grid;
    grid-area: content-1;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}
.contenedor-content .content{
    grid-area: content-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

.contenedor-content .contenedor-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.contenedor-content .contenedor-titulo .contenedor{
    display: flex;
}

.contenedor-content .contenedor-titulo h1{
    font-size: 18pt;
    color: white;
}

.contenedor-content .contenedor-titulo .contenedor i{
    display: flex;
    align-items: center;
    font-size: 14pt;
    position: relative;
    left: -3%;
    color: white;
}

.contenedor-content .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5%;
}

.contenedor-content .contenedor-padre-formulario{
    display: flex;
    width: 100%;
    justify-content: center; 
    align-items: center;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario{
    display: flex;
    flex-direction: column;
    width: 53%;
    height: 380px;
    background-color: white;
    border-radius: 10px;
    padding: 4% 5% 3% 5%;
    transition: 0.4s;
    overflow-y: auto;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario::-webkit-scrollbar{
    border-radius: 5px;
    width:7px;
    background-color: rgba(31, 31, 31, 0.2);
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario::-webkit-scrollbar-thumb{
    width: 10px;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-nivel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario h1{
    font-size: 13pt;
    width: 66%;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .nivel{
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: 0.4s;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .nivel:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-institucion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-institucion h1{
    width: 65%;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-institucion .institucion{
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: 0.4s;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-institucion .institucion:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-descripcion h1{
    width: 100%;
    font-size: 13pt;
    margin-bottom: 2%;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-descripcion p{
    font-size: 12pt;
    margin-bottom: 2%;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-descripcion .titulado{
    width: 100%;
    height: 70px;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    resize: none;
    transition: 0.4s;
    overflow-y: auto;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-titulado .titulado:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-titulado .titulado::-webkit-scrollbar{
    border-radius: 5px;
    width:7px;
    background-color: rgb(207, 193, 193, 0.2);
}

.contenedor-content .contenedor-padre-formulario .contenedor-formulario .contenedor-titulado .titulado::-webkit-scrollbar-thumb{
    width: 10px;
    background: white;
    border-radius: 5px;
}

.contenedor-documento{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-documento h1{
    display: flex;
    margin-bottom: 4%;
}

.label-input {
    display: none;
}

.contenedor-documento .texto {
    display: flex;
    gap: 6%;
    border: none;
    border-radius: 7px;
    padding: 7px;
    width: 85%;
    box-shadow: 0 0 8px black;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 4%;
}

.contenedor-documento .texto i {
    margin-left: 2%;
    font-size: 13pt;
    display: flex;
    align-items: center;
    cursor:pointer
}

.contenedor-documento .texto label {
    cursor:pointer;
    font-size: 12pt;
}

.contenedor-documento .texto:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px black;
}

.contenedor-inicio{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.contenedor-inicio .fecha-inicio{
    border: none;
    width: 120%;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: 0.4s;
}

.contenedor-inicio .fecha-inicio:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-fin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
}

.contenedor-fin h1{
    width: 100%;
}

.contenedor-fin .fecha-fin{
    width: 100%;
    border: none;
    padding: 7px;
    border-radius: 7px;
    font-weight: bolder;
    box-shadow: 0 0 5px black;
    transition: 0.4s;
}

.contenedor-fin .fecha-fin:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-descripcion .titulado{
    transition: 0.4s;
    box-shadow: 0 0 5px black;
}

.contenedor-descripcion .titulado:hover{
    transition: 0.4s;
    box-shadow: 0 0 10px black;
}

.contenedor-descripcion .titulado::-webkit-scrollbar{
    border-radius: 5px;
    width:7px;
    background-color: rgba(31, 31, 31, 0.2);
}

.contenedor-descripcion .titulado::-webkit-scrollbar-thumb{
    width: 10px;
    background: rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}

.contenedor-boton{
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 3%;
}

.contenedor-boton a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    background-color: #FFD966;
    color: black;
    font-weight: bolder;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-boton a:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
}

.contenedor-boton .enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    background-color: #FFD966;
    color: black;
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    font-size: 14pt;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
    cursor: pointer;
}

.contenedor-boton .enviar:hover{
    transition: 0.4s;
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
}

/*------------------------------------------------------------*/

.content-2{
    grid-area: content-2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.content-2 .contenedor-titulo-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.content-2 .contenedor-titulo-2 .contenedor-contenido-2{
    display: flex;
}

.content-2 .contenedor-titulo-2  h1{
    font-size: 18pt;
    color: white;
}

.content-2 .contenedor-titulo-2 .contenedor-contenido-2 i{
    display: flex;
    align-items: center;
    font-size: 14pt;
    position: relative;
    left: -3%;
    color: white;
}

.content-2 .contenedor-titulo-2 .linea-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5%;
}

.content-2 .contenedor-informacion{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 2%;
}

.content-2 .contenedor-informacion .info{
    width: 50%;
    height: 420px;
    border-radius: 10px;
    background-color: white;
    transition: 0.4s;
    overflow-y: auto;
}

.content-2 .contenedor-informacion .info:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.content-2 .contenedor-informacion .info::-webkit-scrollbar{
    border-radius: 10px;
    width:10px;
    background-color: rgba(196, 196, 196, 0.932);
}

.content-2 .contenedor-informacion .info::-webkit-scrollbar-thumb{
    width: 10px;
    background: rgb(92, 91, 91);
    border-radius: 5px;
}

.content-2 .contenedor-informacion .info .nombre{
    display: flex;
    align-items: center;
    padding: 7% 5% 5% 5%;
    gap: 2%;
}

.content-2 .contenedor-informacion .info .nombre h1{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .nombre p{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .meses{
    display: flex;
    align-items: center;
    padding: 0% 5% 5% 5%;
    gap: 2%;
}

.content-2 .contenedor-informacion .info .meses h1{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .meses p{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .certificado{
    display: flex;
    align-items: center;
    padding: 0% 5% 5% 5%;
    gap: 2%;
}

.content-2 .contenedor-informacion .info .certificado h1{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .certificado p{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .inicio{
    display: flex;
    align-items: center;
    padding: 0% 5% 5% 5%;
    gap: 2%;
}

.content-2 .contenedor-informacion .info .inicio h1{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .inicio p{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .fin{
    display: flex;
    align-items: center;
    padding: 0% 5% 5% 5%;
    gap: 2%;
}

.content-2 .contenedor-informacion .info .fin h1{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .fin p{
    font-size: 12pt;
}

.content-2 .contenedor-informacion .info .descripcion{
    display: flex;
    flex-direction: column;
    padding: 0% 5% 5% 5%;
    gap: 2%;
}

.content-2 .contenedor-informacion .info .descripcion h1{
    display: flex;
    font-size: 12pt;
    margin-bottom: 2%;
}

.content-2 .contenedor-informacion .info .descripcion p{
    font-size: 12pt;
}



/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}