@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}

body::-webkit-scrollbar{
    width: 7px;
    background-color: black;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    display: grid;
    grid-area: content;
    background-color: black;
    padding-bottom: 5%;
}

.contenedor-content .contenedor-padre{
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.contenedor-content .contenedor-hoja{
    width: 40%;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-hoja .linea-1{
    display: flex;
    align-items: center;
    width: 100%;
}

.contenedor-content .contenedor-hoja .linea-1 .contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    height: 250px;
    border-radius: 10px;
    border: 4px solid black;
    background-color: rgba(213, 215, 216, 0.862);
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja .linea-1 .contenedor-imagen .imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-1{
    width: 70%;
    height: 100%;
    margin-left: 5%;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-1 .contenedor-nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27pt;
    width: 90%;
    text-align: center;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2{
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 7%;
    margin-bottom: 2%;

}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1{
    display: grid;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1 .num_documento{
    display: flex;
    gap: 3%;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1 .num_documento i{
    display: flex;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1 .num_documento p{
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1 .genero{
    display: flex;
    gap: 3%;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1 .genero i{
    display: flex;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1 .genero p{
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1 .telefono{
    display: flex;
    gap: 3%;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1 .telefono i{
    display: flex;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-1 .telefono p{
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2{
    display: grid;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2 .tipo-doc{
    display: flex;
    gap: 3%;
    margin-bottom: 6%;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2 .tipo-doc i{
    display: flex;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2 .tipo-doc p{
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2 .correo{
    display: flex;
    gap: 3%;
    margin-bottom: 6%;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2 .correo i{
    display: flex;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2 .correo p{
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2 .ubicacion{
    display: flex;
    gap: 3%;
    margin-bottom: 6%;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2 .ubicacion i{
    display: flex;
}

.contenedor-content .contenedor-hoja .linea-1 .info-linea-2 .grid-2 .ubicacion p{
    font-size: 12pt;
}

.contenedor-content .contenedor-padre .contenedor-hoja .linea-2{
    margin-top: 4%;
}

.contenedor-content .contenedor-hoja .linea-2 .contenedor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: black;
}

.contenedor-content .contenedor-hoja .linea-2 .contenedor-titulo h1{
    color: white;
    font-size: 17pt;
}

.contenedor-content .contenedor-hoja .linea-2 .contenedor-titulo .linea{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 4px;
    border-radius: 10px;
    margin-top: 0.5%;
    background-color: white;
}

.contenedor-content .contenedor-hoja .linea-2 .sobre-mi{
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.contenedor-content .contenedor-hoja .linea-2 .sobre-mi p{
    font-size: 13pt;
}

.contenedor-content .contenedor-hoja .linea-3{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.contenedor-content .contenedor-hoja .linea-3 .contenedor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: black;
}

.contenedor-content .contenedor-hoja .linea-3 .contenedor-titulo h1{
    color: white;
    font-size: 15pt;
}

.contenedor-content .contenedor-hoja .linea-3 .contenedor-titulo .linea{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 4px;
    margin-top: 0.5%;
    background-color: white;
    border-radius: 10px;
}

.contenedor-estudios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 2%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 4px solid black;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-1 .nivel{
    display: flex;
    width: 45%;
    gap: 3%;
    padding-left: 5%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-1 .nivel .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}   

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-1 .nivel p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-1 .titulado{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    gap: 3%;
    width: 45%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-1 .titulado .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}   

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-1 .titulado .p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-2 .institucion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    gap: 3%;
    width: 45%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-2 .institucion .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}   

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-2 .institucion p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-2 .titulado{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    gap: 3%;
    width: 45%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-2 .titulado .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}   

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-2 .titulado p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12pt;
}

.documento{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-3 .año-inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    gap: 3%;
    width: 45%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-3 .año-inicio .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}   

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-3 .año-inicio p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-3 .año-fin{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
    gap: 3%;
    width: 45%;
}

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-3 .año-fin .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12pt;
}   

.contenedor-content .contenedor-hoja .linea-3 .seccion-estudios .grupo-3 .año-fin p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12pt;
}

.empty-estudio{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    width: 70%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-hoja .linea-4 .contenedor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: black;
}

.contenedor-content .contenedor-hoja .linea-4 .contenedor-titulo h1{
    color: white;
    font-size: 15pt;
}

.contenedor-content .contenedor-hoja .linea-4 .contenedor-titulo .linea{
    display: flex;
    justify-content: center;
    width: 17%;
    height: 4px;
    margin-top: 0.5%;
    border-radius: 10px;
    background-color: white;
}

.contenedor-experiencia{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedor-experiencia .experiencia{
    width: 100%;
    border-bottom: 4px solid black;
    margin-top: 3%;
}

.contenedor-experiencia .experiencia .flex{
    display: grid;
    grid-template-columns: 70% 30%;
}

.contenedor-experiencia .experiencia .flex .grupo-1{
    display: flex;
    font-weight: bolder;
    gap: 2%;
    margin-bottom: 3%;
}

.contenedor-experiencia .experiencia .flex .grupo-1 .empresa{
    margin-left: 3%;
}

.contenedor-experiencia .experiencia .descripcion{
    margin-bottom: 3%;
}

.contenedor-experiencia .experiencia .descripcion h1{
    font-size: 13pt;
    margin-bottom: 1%;
}

.empty-experiencia{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    width: 70%;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contenedor-content .contenedor-boton{
    display: flex;
    justify-content: center;
    position: relative;
    top: 85%;
    gap: 7%;
}

.contenedor-content .contenedor-boton .boton{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-boton .boton:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    transition: 0.4s;
}

.contenedor-content .contenedor-boton form .boton-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
    height: 100%;
}

.contenedor-boton form .boton-2:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    transition: 0.4s;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
    border-top: 4px solid white;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}