@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 10vh 65vh 15vh;
    grid-template-areas:
        "header"
        "navbar"
        "content"
        "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.nav {
    grid-area: navbar;
    width: 99.6%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    border-left: 4px solid white;
    border-right: 3px solid white;
}

.nav .primer-contenedor {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 100%;
    justify-content: center;
    padding-left: 1.5%;
    gap: 5%;
}

.nav .contenedor {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8%;
}

.nav .segundo-contenedor i {
    cursor: pointer;
}

.nav .contenedor-estado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.nav .contenedor-estado .estado {
    background-color: #33FF53;
    padding: 7%;
    border-radius: 10px;
    box-shadow: 0 0 7px #33FF76;
    color: black;
    transition: 0.4s;
}

.nav .contenedor-estado .estado h1 {
    font-size: 14pt;
}

.nav .contenedor-estado .estado:hover {
    box-shadow: 0 0 15px #00ff55;
    transition: 0.4s;
}

.segundo-contenedor {
    position: relative;
    right: 2%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5%;
    width: 35%;
}

.destroy input {
    display: flex;
    justify-content: center;
    padding: 13px;
    height: 100%;
    position: relative;
    left: -10%;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    font-size: 12pt;
    transition: 0.4s;
}

.destroy input:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

.contenedor-logout .boton {
    display: flex;
    justify-content: center;
    padding: 13px;
    height: 100%;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-logout .boton:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

.segundo-contenedor .boton-a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    font-size: 12pt;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.segundo-contenedor .boton-a:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

.segundo-contenedor .boton {
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 13px;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    font-size: 12pt;
    transition: 0.4s;
}

.segundo-contenedor .boton:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

/*------------------------------------------------------------*/

.contenedor-content {
    display: grid;
    grid-area: content;
}

.contenedor-content .division {
    display: grid;
    grid-template-columns: 50% 1fr;
}

.contenedor-content .division .grid-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 4px solid white;
    background-color: black;
}

.contenedor-content .division .grid-1 .flex-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja {
    width: 35%;
    height: 70%;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 4%;
    padding-top: 3%;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja:hover {
    box-shadow: 0 0 15px white;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja .contenedor-titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 7%;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja i {
    display: flex;
    justify-content: center;
    font-size: 15pt;
    margin-bottom: 3%;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja .titulo {
    display: flex;
    justify-content: center;
    font-size: 13pt;
    margin-bottom: 3%;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja .contenedor-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja .contenedor-p p {
    font-size: 12pt;
    text-align: center;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja .contenedor-boton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja .contenedor-boton a {
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-size: 13pt;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-hoja .contenedor-boton a:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    box-shadow: 0 0 10px white;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update {
    width: 35%;
    height: 70%;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 4%;
    padding-top: 3%;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update .contenedor-titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 7%;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update i {
    display: flex;
    justify-content: center;
    font-size: 15pt;
    margin-bottom: 3%;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update .titulo {
    display: flex;
    justify-content: center;
    font-size: 13pt;
    margin-bottom: 3%;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update .contenedor-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update .contenedor-p p {
    font-size: 12pt;
    text-align: center;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update .contenedor-boton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 6%;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update .contenedor-boton a {
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-size: 13pt;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-1 .contenedor-update .contenedor-boton a:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    box-shadow: 0 0 10px white;
}

.contenedor-content .division .grid-1 .flex-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion {
    width: 35%;
    height: 67%;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 4%;
    padding-top: 3%;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion:hover{
    box-shadow: 0 0 15px white;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion .contenedor-titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 7%;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion i {
    display: flex;
    justify-content: center;
    font-size: 15pt;
    margin-bottom: 3%;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion .titulo {
    display: flex;
    justify-content: center;
    font-size: 13pt;
    margin-bottom: 3%;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion .contenedor-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion .contenedor-p p {
    font-size: 12pt;
    text-align: center;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion .contenedor-boton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion .contenedor-boton a {
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-size: 13pt;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-educacion .contenedor-boton a:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    box-shadow: 0 0 10px white;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion {
    width: 35%;
    height: 67%;
    background-color: white;
    border-radius: 15px;
    padding-bottom: 4%;
    padding-top: 3%;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion:hover{
    box-shadow: 0 0 15px white;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion .contenedor-titulo {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 7%;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion i {
    display: flex;
    justify-content: center;
    font-size: 15pt;
    margin-bottom: 3%;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion .titulo {
    display: flex;
    justify-content: center;
    font-size: 13pt;
    margin-bottom: 3%;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion .contenedor-p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion .contenedor-p p {
    font-size: 12pt;
    text-align: center;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion .contenedor-boton {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion .contenedor-boton a {
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 15px;
    font-size: 13pt;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-content .division .grid-1 .flex-2 .contenedor-update-educacion .contenedor-boton a:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    box-shadow: 0 0 10px white;
}

/*------------------------------------------------------------*/

.grid-2 {
    display: grid;
    grid-template-areas: content;
    grid-template-rows: 37% 62%;
    background-color: black;
    border: 4px solid white;
    border-left: 0px;
}

.grid-2 .contenedor-buscar {
    background-color: black;
    border-bottom: 4px solid white;
}

.grid-2 .contenedor-buscar .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17pt;
    margin-top: 2%;
    color: white;
    margin-bottom: 0.5%;
}

.grid-2 .contenedor-buscar .linea {
    margin: auto;
    width: 20%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.grid-2 .contenedor-buscar .formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -1%;
}

.grid-2 .contenedor-buscar .formulario .conjunto {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.grid-2 .contenedor-buscar .formulario .conjunto i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-2 .contenedor-buscar .formulario .buscar {
    color: white;
    width: 40%;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 5px white;
    background-color: black;
    text-align: center;
    font-weight: bolder;
    transition: 0.4s;
}

.grid-2 .contenedor-buscar .formulario .buscar::placeholder {
    color: white;
    font-weight: bolder;
    text-align: center;
}

.grid-2 .contenedor-buscar .formulario .buscar:hover {
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.grid-2 .contenedor-buscar .formulario .contenedor-boton {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.grid-2 .contenedor-buscar .formulario .contenedor-boton a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    font-size: 11pt;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.grid-2 .contenedor-buscar .formulario .contenedor-boton a:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

.grid-2 .contenedor-buscar .formulario .contenedor-boton .boton {
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    font-size: 11pt;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.grid-2 .contenedor-buscar .formulario .contenedor-boton .boton:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
    box-shadow: 0 0 10px white;
    cursor: pointer;
}

/*------------------------------------------------------------*/

.grid-2 .contenedor-titulo .titulo-principal {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17pt;
    color: white;
    margin-top: 2%;
    margin-bottom: 1%;
}

.grid-2 .contenedor-titulo .linea{
    margin: auto;
    width: 20%;
    height: 3px;
    background-color: white;
    margin-bottom: 3%;
    border-radius: 15px;
    box-shadow: 0 0 15px white;
}

.grid-2 .contenedor-titulo .contenedor-postulaciones{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 207px;
    margin: auto;
    overflow: auto;
    position: relative;
    top: -4%;
}

.grid-2 .contenedor-titulo .contenedor-postulaciones::-webkit-scrollbar {
    border-radius: 5px;
    width: 7px;
    background-color: rgb(207, 193, 193, 0.2);
}

.grid-2 .contenedor-titulo .contenedor-postulaciones::-webkit-scrollbar-thumb{
    width: 10px;
    background: white;
    border-radius: 5px;
}

.grid-2 .contenedor-titulo .contenedor-postulaciones .postulaciones{
    width: 65%;
    border-radius: 15px;
    background-color: aliceblue;
    margin: auto;
    margin-top: 0.3%;
    margin-bottom: 4%;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    box-shadow: 0 0 10px white;
}

.grid-2 .contenedor-titulo .contenedor-postulaciones .postulaciones .contenedor-titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.grid-2 .contenedor-titulo .contenedor-postulaciones .postulaciones  .contenedor-titulo .titulo{
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
    font-size: 14pt;
}

.grid-2 .contenedor-titulo .contenedor-postulaciones .postulaciones .info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 12pt;
}

.grid-2 .contenedor-titulo .contenedor-postulaciones .postulaciones .contenedor-boton{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.grid-2 .contenedor-titulo .contenedor-postulaciones .postulaciones .contenedor-boton .boton{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    font-size: 11pt;
    box-shadow: 0 0 10px #FFD966;
}

.grid-2 .contenedor-titulo .contenedor-postulaciones .postulaciones .contenedor-boton .boton:hover{
    background-color: black;
    color: #FFD966;
    transition: 0.5s;
    cursor: pointer;
}

.contenedor-empty {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 70%;
    padding: 2%;
    border-radius: 15px;
    font-size: 15px;
    transition: 0.4s;
}

.empty:hover {
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover {
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png {
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,
.william,
.peter,
.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;

}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}