@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 74.4vh 15vh;
    grid-template-areas:
        "header"
        "content"
        "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    display: grid;
    grid-area: content;
    background-color: black;
    grid-template-rows: 13% 87%;
    grid-template-areas:
        'nav'
        'content-vacante';
}

.contenedor-content .nav {
    display: grid;
    grid-area: nav;
    color: white;
}

.contenedor-content .nav .conjunto {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.contenedor-content .nav .cantidad {
    position: relative;
    left: 2%;
}

.contenedor-content .nav .cantidad h1 {
    font-size: 14pt;
}

.contenedor-content .nav .contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: -4%;
}

.contenedor-content .nav .conjunto .contenedor-titulo h1 {
    font-size: 18pt;
}

.contenedor-content .nav .conjunto .contenedor-titulo .linea {
    background-color: white;
    width: 60%;
    height: 4px;
    border-radius: 15px;
    margin-top: 0.5%;
    box-shadow: 0 0 15px white;
}

.contenedor-content .nav .contenedor-titulo h1 {
    font-size: 18pt;
}

.contenedor-content .nav .contenedor-titulo .linea {
    background-color: white;
    width: 15%;
    height: 4px;
    border-radius: 15px;
    margin-top: 0.5%;
    box-shadow: 0 0 15px white;
}

.contenedor-content .content {
    display: grid;
    grid-area: content-vacante;
    grid-template-rows: 90% 10%;
    grid-template-areas:
        'vacante'
        'boton';
}

.contenedor-content .contenedor-vacante {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 85%;
    grid-area: vacante;
}

.contenedor-content .contenedor-vacante .vacantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    width: 45%;
    height: 400px;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow-y: auto;
}

.contenedor-content .contenedor-vacante .vacantes::-webkit-scrollbar{
    border-radius: 5px;
    width:7px;
    background-color: rgb(207, 193, 193, 0.2);
}

.contenedor-content .contenedor-vacante .vacantes::-webkit-scrollbar-thumb{
    width: 10px;
    background: white;
    border-radius: 5px;
}

.informacion-vacante {
    display: grid;
    grid-template-columns: 22% 1fr 11%;
    padding: 1%;
    width: 80%;
    height: 30%;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
    background-color: white;
}

.informacion-vacante .contenedor-boton-vacante{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid black;
    width: 100%;
}

.informacion-vacante .contenedor-boton-vacante .boton{
    padding: 15%;
    border-radius: 10px;
    background-color: #FFD966;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    box-shadow: 0 0 5px #FFD966;
    transition: 0.5s;
}

.informacion-vacante .contenedor-boton-vacante .boton:hover{
    transition: 0.5s;
    background-color: black;
    color: #ffffff;
    box-shadow: 0 0 10px white;
}

.informacion-vacante .contenedor-boton-vacante  i:hover{
    width: 100%;
    height: 100%;
    color: #ffffff;
}

.informacion-vacante .grid-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.informacion-vacante .grid-1 .contenedor-codigo{
    width: 100%;
    height: 100%;
}

.informacion-vacante .grid-1 .contenedor-codigo .contenedor-imagen{
    width: 80%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-right: 3px solid black;
}

.informacion-vacante .grid-1 .contenedor-codigo .contenedor-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-2 .contenedor-cargo{
    display: flex;
    align-items: center;
    height: 30%;
}

.grid-2 .contenedor-cargo .titulo {
    font-size: 14pt;
}

.grid-2 .info {
    height: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
}

.grid-2 .info .contenedor-lugar {
    display: flex;
}

.contenedor-boton {
    grid-area: boton;
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.contenedor-boton a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #FFD966;
    border: none;
    padding: 0.5%;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: -40%;
}

.contenedor-boton a:hover {
    background-color: black;
    transition: 0.5s;
    color: #FFD966;
}

.contenedor-empty{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 60%;
    padding: 3%;
    border-radius: 15px;
    box-shadow: 0 0 10px white;
    position: relative;
    left: 5%;
}

.contenedor-empty .empty{
    font-size: 14pt;
    font-weight: bolder;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
    border-top: 4px solid white;
}

.footer:hover {
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png {
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,
.william,
.peter,
.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;

}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}
