@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    color:red;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header    header"
    "content   content"
    "footer    footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "content-1  content-2";
    width: 100%;
    height: 100%;
}

.contenedor-content .content{
    grid-area: content-1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

.contenedor-content .contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 18%;
    text-align: center;
}

.contenedor-content .contenedor i{
    font-size: 17pt;
    position: relative;
    left: -2%;
    color: white;
}

.contenedor-content .content .contenedor-titulo .linea{
    margin-top: 1%;
}

.contenedor-content .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.contenedor-content .titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18pt;
}

.contenedor-content .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

.contenedor-centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contenedor-content .contenedor-hoja-vida{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 49%;
    height: 90%;
    background-color: white;
    border-radius: 15px;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-hoja-vida .primera-linea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    gap: 2%;
    padding: 15% 7% 5% 7%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .educacion{
    display: flex;
    width: 100%;
    gap: 5%;
    align-items: center;
    margin-bottom: 5%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea h1{
    font-size: 12pt;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .nivel{
    display: flex;
    width: 80%;
    height: 25px;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 6px;
    border: none;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .nivel:hover {
    box-shadow: 0 0 10px black;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .puntos{
    display: flex;
    width: 100%;
    gap: 5%;
    align-items: center;
    margin-bottom: 5%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .input{
    display: flex;
    width: 80%;
    height: 25px;
    align-items: center;
    justify-content: center;
    padding-left: 7px;
    padding-right: 7px;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 6px;
    border: none;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .input:hover {
    box-shadow: 0 0 10px black;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .descripcion{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
    align-items: center;
    margin-bottom: 5%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .descripcion h1{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea{
    display: flex;
    width: 86%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    background-color: white;
    box-shadow: 0 0 4px black;
    border-radius: 6px;
    border: none;
    margin-top: 3%;
    resize: none;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea:hover {
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea::-webkit-scrollbar{
    width: 4px;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea::-webkit-scrollbar-thumb{
    background: black;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
    margin-top: 2%;
    margin-bottom: 6%;
    position: relative;
    top: -3%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    font-size: 14pt;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

/*------------------------------------------------------------*/

.contenedor-content .content-2{
    grid-area: content-2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.contenedor-content .contenedor-titulo-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.contenedor-content .contenedor-titulo-2 .contenedor{
    display: flex;
}

.contenedor-content .contenedor-titulo-2 .contenedor .titulo-principal{
    font-size: 18pt;
    color: white;
}

.contenedor-content .contenedor-titulo-2 .contenedor i{
    display: flex;
    align-items: center;
    font-size: 14pt;
    position: relative;
    left: -3%;
    color: white;
}

.contenedor-content .contenedor-titulo-2 .linea-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
    margin-top: 0.5%;
}

.contenedor-content .content-2 .contenedor-grande{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contenedor-content .content-2 .contenedor-ocupaciones{
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    width: 430px;
    height: 420px;
    border-radius: 15px;
    transition: 0.4s;
    overflow-y: auto;
}

.contenedor-content .content-2 .contenedor-ocupaciones:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .content-2 .contenedor-ocupaciones::-webkit-scrollbar{
    border-radius: 5px;
    width:10px;
    background-color: rgba(151, 145, 145, 0.76);
}

.contenedor-content .content-2 .contenedor-ocupaciones::-webkit-scrollbar-thumb{
    width: 10px;
    background: rgba(37, 37, 37, 0.76);
    border-radius: 2px;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info{
    padding: 7% 5% 6% 7%;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info .nivel{
    display: flex;
    width: 100%;
    gap: 1%;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info .nivel h1{
    display: flex;
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info .nivel p{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info .puntos{
    display: flex;
    width: 100%;
    gap: 1%;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info .puntos h1{
    display: flex;
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info .puntos p{
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info .descripcion{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1%;
    margin-bottom: 5%;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info .descripcion h1{
    display: flex;
    font-size: 11pt;
}

.contenedor-content .content-2 .contenedor-ocupaciones .info .descripcion p{
    font-size: 11pt;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}