@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    display: flex;
    justify-content: center;
    font-size: 10pt;
    color:red;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header    header"
    "content   content"
    "footer    footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "content-1  content-2";
    width: 100%;
    height: 100%;
}

.contenedor-content .content{
    grid-area: content-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

.contenedor-content .content .contenedor-titulo .linea{
    margin-top: 1%;
}

.contenedor-content .contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.contenedor-content .titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 5%;
    font-size: 20pt;
}

.contenedor-content .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 4px;
    border-radius: 10px;
    background-color: white;
}

.contenedor-content .contenedor-hoja-vida{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 6%;
    width: 50%;
    height: 65%;
    background-color: white;
    border-radius: 15px;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-hoja-vida .primera-linea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 8%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .Nombre h1{
    display: flex;
    justify-content: center;
    font-size: 12pt;
    margin-bottom: 1%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .descripcion h1{
    display: flex;
    justify-content: center;
    font-size: 12pt;
    margin-bottom: 1%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .input{
    display: flex;
    width: 85%;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 6px;
    border: none;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .input:hover {
    box-shadow: 0 0 10px black;
    transition: 0.4s;
}

.contenedor-documento{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor-documento .titulo{
    display: flex;
    justify-content: left;
    font-size: 12pt;
    margin-bottom: 1%;
}

.label-input {
    display: none;
}

.contenedor-documento .texto {
    border: none;
    border-radius: 7px;
    padding: 8%;
    width: 205%;
    box-shadow: 0 0 5px black;
    margin-top: 5%;
    display: flex;
    font-weight: bolder;
    cursor: pointer;
    gap: 7%;
    display: flex;
    justify-content: center;
    transition: 0.4s;
}

.contenedor-documento .texto:hover {
    box-shadow: 0 0 8px black;
    transition: 0.4s;
}

.contenedor-documento .texto i {
    margin-left: 2%;
    font-size: 13pt;
    display: flex;
    align-items: center;
    cursor:pointer
}

.contenedor-documento .texto label {
    cursor:pointer;
    font-size: 12pt;
}

.contenedor-documento .texto:hover{
    transition: 0.5s;
    box-shadow: 0 0 15px black;
}


.contenedor-content .contenedor-hoja-vida .contenedor-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10%;
    margin-bottom: 5%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    font-size: 14pt;
    transition: 0.4s;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2:hover{
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

/*------------------------------------------------------------*/

.contenedor-content .content-2{
    grid-area: content-2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.contenedor-content .linea{
    margin-top: 1%;
}

.contenedor-content .contenedor-ocupaciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    height: 390px;
    overflow: auto;
}

.contenedor-content .contenedor-ocupaciones::-webkit-scrollbar{
    border-radius: 5px;
    width:7px;
    background-color: rgb(207, 193, 193, 0.2);
}

.contenedor-content .contenedor-ocupaciones::-webkit-scrollbar-thumb{
    width: 10px;
    background: white;
    border-radius: 5px;
}

.contenedor-content .contenedor-ocupaciones .titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 3%;
    font-size: 24pt;
}

.contenedor-content .content-2 .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 4px;
    background-color: white;
    margin-bottom: 4%;
    border-radius: 15px;
}

.content-2 .contenedor-ocupaciones .ocupacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.content-2 .contenedor-ocupaciones .ocupacion:hover{
    transition: 0.4s;
    box-shadow: 0 0 15px white;
}

.content-2 .contenedor-ocupaciones .parte-1{
    display: flex;
    width: 85%;
    gap: 3%;
}

.content-2 .contenedor-ocupaciones .ocupacion i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    transition: 0.4s;
    color: black;
}

.content-2 .contenedor-ocupaciones .ocupacion i:hover{
    transition: 0.4s;
    color: rgb(221, 8, 8);
}

.content-2 .contenedor-ocupaciones .ocupacion .parte-1 a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.content-2 .contenedor-ocupaciones .ocupacion .parte-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2 .contenedor-ocupaciones .ocupacion .parte-2 form .buttom{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16pt;
}

.content-2 .contenedor-ocupaciones .ocupacion .parte-2 .a{
    position: relative;
    left: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 5px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
}

.content-2 .contenedor-ocupaciones .ocupacion .parte-2 .a:hover{
    background-color: black;
    transition: 0.5s;
    color: #FFD966;
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-top: 3%;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 15px white;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}