@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10vh 10vh 64.4vh 15vh;
    grid-template-areas:
        "header  header"
        "nav     nav"
        "content content-2"
        "footer  footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    border-bottom: 4px solid white;
}

.nav .contenedor-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.nav .contenedor-nav .contenedor-titulo{
    display: flex;
    font-size: 16pt;
}

.nav .contenedor-nav .contenedor-titulo i{
    position: relative;
    left: -1%;
}

.nav .contenedor-nav .linea{
    width: 50%;
    background-color: white;
    border-radius: 5px;
    height: 4px;
    margin-top: 0.5%;
}

/*------------------------------------------------------------*/
.content {
    grid-area: content;
    background-color: black;
    color: white;
    border-right: 2px solid white;
    width: 100%;
    height: 100%;
}

.content .contenido-completo{
    display: grid;
    grid-template-rows: ;
    width: 100%;
    height: 100%;
}

.content .contenido-completo .contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 14%;
}

.content .contenido-completo .contenedor-titulo .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .contenido-completo .contenedor-titulo .titulo h1{
    font-size: 14pt;
}

.content .contenido-completo .contenedor-titulo .titulo i{
    position: relative;
    left: -2%;
}

.content .contenido-completo .contenedor-titulo .linea{
    height: 4px;
    width: 40%;
    background-color: white;
    border-radius: 7px;
    margin-top: 0.5%;
}

/*------------------------------------------------------------*/

.content-2 {
    grid-area: content-2;
    border-left: 2px solid white;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
    border-top: 4px solid white;
}

.footer:hover {
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png {
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,
.william,
.peter,
.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;

}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}
