@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.page {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 74.4vh 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.content{
    grid-area: content;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: black;

}

.content .primera-columna{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    width: 23%;
    border-right: 5px solid white;
    border-left: 5px solid white;
}

.content .primera-columna .contenedor-super{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    font-weight: bolder;
    background-color: black;
    border: 1px solid white;
    height: 20%;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.content .primera-columna .contenedor-super:hover {
    background-color: white;
    transition: 0.4s;
    color: black;
}

.content .primera-columna .contenedor-instructor{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    font-weight: bolder;
    background-color: white;
    border: 4px solid black;
    height: 20%;
    border-bottom: 4px solid white;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.content .primera-columna .contenedor-instructor:hover {
    background-color: white;
    transition: 0.4s;
    color: black;
    border: 1px solid white;    
}

.content .primera-columna .contenedor-reclutador{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    font-weight: bolder;
    background-color: white;
    border: 4px solid black;
    height: 20%;
    border-bottom: 4px solid white;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.content .primera-columna .contenedor-reclutador:hover {
    background-color: white;
    transition: 0.4s;
    color: black;
    border: 1px solid white;   
}

.content .primera-columna .contenedor-seleccionador{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    font-weight: bolder;
    background-color: white;
    border: 4px solid black;
    height: 20%;
    border-bottom: 4px solid white;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.content .primera-columna .contenedor-seleccionador:hover {
    background-color: white;
    transition: 0.4s;
    color: black;
    border: 1px solid white; 
}

.content .primera-columna .contenedor-candidatos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    font-weight: bolder;
    background-color: white;
    border: 4px solid black;
    height: 20%;
    border-bottom: 4px solid black;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.content .primera-columna .contenedor-candidatos:hover {
    background-color: white;
    transition: 0.4s;
    color: black;
    border: 1px solid white; 
}

.contenedor-boton  { 
    display: flex;
    justify-content: center;  
    align-items: center;  
    height: 18%;
}

.contenedor-boton .volver {   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    transition: 0.4s;
}

.contenedor-boton .volver:hover {
    background-color: black;
    transition: 0.4s;
    color: white;
    box-shadow: 0 0 10px white;
}

/*------------------------------------------------------------*/

.content .segunda-columna{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: content;
    width: 100%;
    background-color: black;
    border-right: 5px solid white;
}

.content .segunda-columna .contenedor-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19pt;
    color: white;
    margin-top: 3%;
}

.content .segunda-columna .contenedor-titulo .titulo {
    display: flex;
    align-items: center;
}

.content .segunda-columna .contenedor-titulo .titulo i{
    position: relative;
    left: -3%;
    font-size: 16pt;
}

.segunda-columna .contenedor-informacion{
    display: flex;
    flex-direction: column;
    align-items: center;    
    position: relative;
    top: 4%;
    width: 90%;
    height: 70%;
    overflow: auto;
}

.segunda-columna .contenedor-informacion::-webkit-scrollbar{
    border-radius: 5px;
    width:7px;
    background-color: rgb(207, 193, 193, 0.2);
}

.segunda-columna .contenedor-informacion::-webkit-scrollbar-thumb{
    width: 10px;
    background: white;
    border-radius: 5px;
}

.segunda-columna .contenedor-instructor {
    display: flex;
    width: 35%;
    height: 15%;
    margin-top: 3%;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    text-decoration: none;
    color: black;
}

.segunda-columna .contenedor-instructor .contenedor-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.segunda-columna .contenedor-instructor .contenedor-logo i {
    font-size: 25pt;
}

.segunda-columna .contenedor-instructor .contenedor-nombre{
    display: flex;
    align-items: center;
    margin-left: 4%;
    width: 100%;
}

.segunda-columna .contenedor-instructor .contenedor-nombre .titulo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 12pt;
    width: 100%;
}

.segunda-columna .contenedor-instructor .contenedor-bote {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 10%;
    height: 100%;
    transition: 0.4s;
}

.segunda-columna .contenedor-instructor .contenedor-bote i {
    font-size: 18pt;
    cursor: pointer;
    transition: 0.4s;
    color: black;
}

.segunda-columna .contenedor-instructor .contenedor-bote i:hover{
    transition: 0.4s;
    color: rgb(197, 19, 19);
}

.segunda-columna .contenedor-instructor .contenedor-opciones{
    display: flex;
    position: relative;
    left: 7%;
}

.rol .formulario-2{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    top: 25%;
}

.rol .formulario-2 .menu{
    position: relative;
    left: 4%;
    padding: 2%;
    border-radius: 7px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
    margin-bottom: 15%;
}

.rol .formulario-2 .cambiar{
    display: flex;
    align-items: center;
    align-items: center;
    position: relative;
    left: 35%;
    height: 70%;
    padding: 3% 3%;
    text-decoration: none;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    transition: 0.4s;
    box-shadow: 0 0 10px #FFD966;
}

.rol .formulario-2 .cambiar:hover{
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 15%;
    margin-top: 2%;
    background-color: white;
    border-radius: 15px;
    font-size: 14pt;
    padding: 1%;
    text-decoration: none;
    color: black;
    box-shadow: 0 0 15px white;
}
/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
    border-top: 4px solid white;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}