@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Montserrat&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

.mensaje {
    color:red;
}

body {
    background-color: black;
}

body::-webkit-scrollbar{
    width: 9px;
}

body::-webkit-scrollbar-thumb{
    background: white;
}

.page {
    display: grid;
    height: 100%;
    grid-template-rows: 10vh 75vh 15vh;
    grid-template-areas: 
    "header"
    "content"
    "footer";
}


.header {
    display: flex;
    grid-area: header;
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: 3px solid white;
    font-size: 23pt;
    align-items: center;
    padding-left: 25px;
    font-weight: 1000;
}

.header .contenedor-logo {
    display: flex;
    gap: 2px
}

.header .contenedor-logo .s-amarilla {
    color: #FFD966;
}

.header .titulo {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header .titulo .system {
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "content-1  content-2";
    width: 100%;
    height: 100%;
}

.contenedor-content .content{
    grid-area: content-1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
}

.contenedor-content .content .contenedor-titulo .linea{
    margin-top: 1%;
}

.contenedor-content .contenedor-titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.contenedor-content .titulo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 3%;
    font-size: 24pt;
}

.contenedor-content .linea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 4px;
    background-color: #FFD966;
    box-shadow: 0 0 15px #FFD966;
    margin-bottom: -12%;
}

.contenedor-content .contenedor-hoja-vida{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px white;
}

.contenedor-content .contenedor-hoja-vida .primera-linea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .input{
    display: flex;
    width: 86%;
    height: 60%;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
    background-color: white;
    box-shadow: 0 0 5px black;
    border-radius: 6px;
    border: none;
    margin-top: 3%;
}

.contenedor-content .contenedor-hoja-vida .primera-linea .input:hover {
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea{
    display: flex;
    width: 86%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-top: 7%;
    padding-left: 7%;
    padding-right: 7%;
    background-color: white;
    box-shadow: 0 0 4px black;
    border-radius: 6px;
    border: none;
    margin-top: 3%;
    resize: none;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea:hover {
    box-shadow: 0 0 10px black;
    transition: 0.5s;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea::-webkit-scrollbar{
    width: 4px;
}

.contenedor-content .contenedor-hoja-vida .primera-linea textarea::-webkit-scrollbar-thumb{
    background: black;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 20%;
    gap: 10%;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-1:hover{
    background-color: black;
    transition: 0.5s;
    color: #FFD966;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2{
    display: flex;
    color: black;
    background-color: #FFD966;
    border: none;
    border-radius: 10px;
    padding: 11px;
    font-weight: bolder;
    box-shadow: 0 0 10px #FFD966;
    cursor: pointer;
    text-decoration: none;
    font-size: 14pt;
}

.contenedor-content .contenedor-hoja-vida .contenedor-boton .input-2:hover{
    background-color: black;
    transition: 0.5s;
    color: #FFD966;
}

/*------------------------------------------------------------*/

.contenedor-content .content-2{
    grid-area: content-2;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
}

.content-2 .contenedor-titulo .titulo-principal{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor-content .content-2 .linea-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 4px;
    background-color: #FFD966;
    box-shadow: 0 0 15px #FFD966;
    margin-bottom: -6%;
    margin-top: 1%;
}

.contenedor-content .content-2 .contenedor-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid black;
    width: 50%;
    height: 250px;
    margin-top: 10%;
    border-radius: 15px;
    box-shadow: 0 0 15px white;
    padding-top: 5%;
}

.contenedor-content .content-2 .contenedor-show:hover{
    box-shadow: 0 0 25px white;
    transition: 0.5s;
}

.contenedor-content .content-2 .contenedor-show .primera-linea{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 10%;
    position: relative;
    top: -15%;
}   

.contenedor-content .content-2 .contenedor-show .primera-linea .id{
    display: flex;
    width: 15%;
    gap: 5%;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .id .titulo{
    font-size: 12pt;
}

.contenedor-content .content-2 .contenedor-show .primera-linea .id .info{
    font-size: 12pt;
}

.contenedor-content .content-2 .contenedor-show .tercera-linea{
    display: flex;
    width: 85%;
    height: 75%;
    gap: 8%;
    overflow-y: auto;
}

.tercera-linea .descripcion{
    display: flex;
    flex-direction: column;
    gap: 6%;
    width: 50%;
    overflow: auto;
}

.tercera-linea .descripcion .titulo{
    font-size: 13pt;
}

.tercera-linea .descripcion .info{
    padding: 1%;
    font-size: 11pt;
}

.tercera-linea .descripcion::-webkit-scrollbar{
    width: 9px;
}

.tercera-linea .descripcion::-webkit-scrollbar-thumb{
    background: black;
}

.contenedor-content .content-2 .contenedor-show .tercera-linea .funcion{
    display: flex;
    flex-direction: column;
    gap: 6%;
    width: 50%;
    overflow: auto;
}

.contenedor-content .content-2 .contenedor-show .tercera-linea .funcion::-webkit-scrollbar{
    width: 9px;
}

.contenedor-content .content-2 .contenedor-show .tercera-linea .funcion::-webkit-scrollbar-thumb{
    background: black;
}

.contenedor-content .content-2 .contenedor-show .tercera-linea .funcion .titulo{
    font-size: 13pt;
}

.contenedor-content .content-2 .contenedor-show .tercera-linea .funcion .info{
    font-size: 12pt;
}

.empty{
    font-size: 12pt;
}

/*------------------------------------------------------------*/

.footer {
    grid-area: footer;
    background-color: #FFD966;
    height: 100%;
}

.footer:hover{
    box-shadow: 0 0 30px #FFD966;
    transition: 0.5s;
}

.footer .contenedor-footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .contenedor-imagen {
    width: 15%;
    margin-left: 15px;
    height: 100%;
}

.footer .contenedor-footer .contenedor-imagen .logo-png{
    width: 65%;
    height: 95%;
}

.footer .contenedor-footer .informacion {
    display: flex;
    width: 85%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.sebas,.william,.peter,.capera {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.footer .contenedor-footer .informacion article .apps {
    display: flex;
    text-decoration: none;
    width: 100%;
    justify-content: space-between;
}

.footer .contenedor-footer .informacion article .apps i {
    color: black;
    
}

.footer .contenedor-footer .informacion article .apps i:hover {
    width: 100%;
    height: 100%;
    font-size: 18pt;
    transition: 0.4s;
}